@import "tailwindcss";

:root {
  --background: #F6FBF7;
  --foreground: #212529;
  --primary: #198754;
  --light-green: #EAF7EE;
  --card: #ffffff;
  --border: #E3E8E5;
}

/* Dark mode (optional) */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #F6FBF7;
    --foreground: #212529;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background: #E8F5E9 !important;
  border-bottom: 1px solid #D8E7DD;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

.nav-link {
  font-weight: 500;
  transition: .3s;
}

.nav-link:hover {
  color: var(--primary) !important;
}

.navbar-brand {
  transition: .3s;
}

.navbar-brand:hover {
  transform: scale(1.05);
}

.card {
  background: var(--card);
  border: none;
  border-radius: 18px;
  transition: .3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 35px rgba(0,0,0,.12);
}

.btn-success,
.btn-primary {
  border-radius: 30px;
  transition: .3s;
}

.btn-success:hover,
.btn-primary:hover {
  transform: translateY(-2px);
}

.card-img-top {
  transition: .35s;
}

.card:hover .card-img-top {
  transform: scale(1.05);
}

.form-control {
  border-radius: 30px;
}

.form-control:focus {
  border-color: var(--primary);
  box-shadow: none;
}


footer {
  margin-top: 80px;
}

section {
  padding: 80px 0;
}